body {
    font-family: Arial, sans-serif;
    background-color: #3f5f6f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.login-box {
    background-color: #588196;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4A6E87;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
}

input {
    width: 27vw;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #4A6E87;
    border-radius: 5px;
}

.forgot-password {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #cfd7dd;
    margin: 10px 0;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4A6E87;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.register {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}

.register a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#config_logo{
    width: 10vw;
}